<form action="https://formspree.io/pamela@pamelamorganevents.com"
      method="POST">
      <h3 class="great-primer">First name:</h3>
      <input type="text" name="firstname" class="text"><br><br>
      <h3 class="great-primer">Last name:</h3>
      <input type="text" name="lastname" class="text"><br><br>
      <h3 class="great-primer">E-mail:</h3>
      <input type="email" name="_replyto" class="text"><br><br>
      <h3 class="great-primer">Comment:</h3><br>
      <textarea name="message" rows="10"  class="text">Type Your Message Here
      </textarea><br>
      <input type="submit" value="Send" class="submit">
</form>
