<footer>
  <div class="container-footer">
    <div class="row">
      <div class="left-footer">
        <h4 class="pica">Pamela Morgan Events</h4>
        <p class="long-primer">pamela@pamelamorganevents.com<br>
          843.607.4132<br>
        </p>
        <h4 class="pica" >Office Hours</h4>
        <p class="long-primer">Monday - Thursday 9:00am - 5:00pm EST </p>
      </div>
      <div class="right-footer">
        <a class="social" href="https://www.instagram.com/pamelamorganevents/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
