<div list="paired-icon" class="editable {{ include.list-style }}">
  <h2 class="double-pica editable">What You Get</h2>
  <ul class="row editable">
{% if include.list_a == 'list1' %}
    <li class="iconz iconz-geolocalizator"><span class="long-primer">One on site planning meeting</span></li>
    <li class="iconz iconz-map"><span class="long-primer">Ceremony/Reception layout review </span></li>
    <li class="iconz iconz-calendar"><span class="long-primer">Wedding weekend timeline</span></li>
    <li class=" iconz iconz-profile-add"><span class="long-primer">Vendor and guest point of contact</span></li>
    <li class=" iconz iconz-clock"><span class="long-primer">1 hour rehearsal direction</span></li>
    <li class=" iconz iconz-pricetag"><span class="long-primer">Vendor payment distribution</span></li>
    <li class=" iconz iconz-dish-fork"><span class="long-primer">Event set up and break down</span></li>
    <li class=" iconz iconz-wine"><span class="long-primer">Execution of ceremony and reception</span></li>
{% endif %}
{% if include.list_b == 'list2' %}
    <li class=" iconz iconz-mail"><span class="long-primer">Unlimited email contact</span></li>
    <li class=" iconz iconz-paper-pencil"><span class="long-primer">Four consultations to finalize details</span></li>
    <li class=" iconz iconz-calendar"><span class="long-primer">Monthly check-ins</span></li>
    <li class=" iconz iconz-pencil-ruler"><span class="long-primer">Partial planning and design</span></li>
    <li class=" iconz iconz-todolist-check"><span class="long-primer">Decision making assistance</span></li>
    <li class=" iconz iconz-todolist"><span class="long-primer">List of recommended vendors</span></li>
    <li class=" iconz iconz-setting-2"><span class="long-primer">Wedding weekend timeline and layout</span></li>
    <li class=" iconz iconz-spread"><span class="long-primer">Detail confirmation with all vendors</span></li>
    <li class=" iconz iconz-profile-add"><span class="long-primer">Vendor and guest point of contact</span></li>
    <li class=" iconz iconz-pricetag"><span class="long-primer">Vendor payment distribution</span></li>
    <li class=" iconz iconz-clock"><span class="long-primer">1 hour rehearsal direction</span></li>
    <li class=" iconz iconz-dish-fork"><span class="long-primer">Event set up and break down</span></li>
    <li class=" iconz iconz-wine"><span class="long-primer">Execution of ceremony and reception</span></li>
{% endif %}
{% if include.list_c == 'list3' %}
    <li class=" iconz iconz-mail"><span class="long-primer">Unlimited email and phone contact</span></li>
    <li class=" iconz iconz-calendar"><span class="long-primer">Monthly checklists</span></li>
    <li class=" iconz iconz-website-1"><span class="long-primer">Access to online planning program</span></li>
    <li class=" iconz iconz-profile"><span class="long-primer">Attend all essential vendor meetings</span></li>
    <li class=" iconz iconz-music-random"><span class="long-primer">Venue walk-throughs</span></li>
    <li class=" iconz iconz-todolist"><span class="long-primer">Recommended vendor list</span></li>
    <li class=" iconz iconz-pricetag"><span class="long-primer">Vendor Discounts</span></li>
    <li class=" iconz iconz-magnifier"><span class="long-primer">Budget development and management</span></li>
    <li class=" iconz iconz-pen-pencil-ruler"><span class="long-primer">Décor, design and concept development</span></li>
    <li class=" iconz iconz-squares"><span class="long-primer">Seating chart assistance</span></li>
    <li class=" iconz iconz-setting-2"><span class="long-primer">Wedding weekend timeline and layout</span></li>
    <li class=" iconz iconz-todolist-check"><span class="long-primer">Detail confirmation with all vendors</span></li>
    <li class=" iconz iconz-magnifier-plus"><span class="long-primer">Supervision on event set up and break down</span></li>
    <li class=" iconz iconz-music-random"><span class="long-primer">Rehearsal direction</span></li>
    <li class=" iconz iconz-camera-1"><span class="long-primer">Coordinate with Photographer</span></li>
    <li class=" iconz iconz-wine"><span class="long-primer">Execution of ceremony and reception flawlessly</span></li>
{% endif %}
{% if include.list_d == 'list4' %}
    <li class=" iconz iconz-mail"><span class="long-primer">Unlimited email and phone communication</span></li>
    <li class=" iconz iconz-geolocalizator"><span class="long-primer">Coordinate ceremony location and design</span></li>
    <li class=" iconz iconz-cutlery"><span class="long-primer">Set up intimate dinner details</span></li>
    <li class=" iconz iconz-key"><span class="long-primer">Make accommodations nuptials night</span></li>
    <li class=" iconz iconz-check"><span class="long-primer">Vendor selection</span></li>
    <li class=" iconz iconz-diamond"><span class="long-primer">Run your event to perfection!</span></li>
{% endif %}
</ul>
</div>
