<div class="container">
  <div class="secondarycolor text-center"><h2 class="trafalgar editable">Our Services</h2></div>
  <div class="default text-center"><h3 class="great-primer editable">We Fit Your Needs</h3></div>
  <div class="row row-padding">
    {% include service.html title="Month-Of Coordination" icon="calendar" anchor="first" %}
    {% include service.html title="Partial Planning & Design" icon="pencil" anchor="first" %}
    {% include service.html title="Full Planning & Design" icon="setting-1" anchor="second" %}
    {% include service.html title="Elopement Package" icon="todolist-check" anchor="second" %}
    {% include service.html title="A La Carte" icon="shopping-cart-content" anchor="third" %}
  </div>
</div>
