<div class="container default">
  <div page-section class="default">
    <h2 class="trafalgar editable text-center">Pamela Morgan Events</h2>
    <p class="long-primer editable">Pamela Morgan Events is a boutique wedding + event design company based in Charleston, SC.  We adore our clients and believe in a thoughtful, personalized event through impeccable details, event planning expertise and design finesse. One of our events is sure to leave a lasting impression on you and your guests.  We are more than poised planners, curators of all things lovely and logistical gurus, we are also honored narrators of the most important story…yours.</p>
    <p class="long-primer editable">
    </p>
    <p class="long-primer editable">
      Pamela was born and raised in Charleston, SC and graduated the College of Charleston with a bachelors’ degree in Business Administration and Hospitality and Tourism Management.  With over six years in the industry, Pamela knows the time and detail that goes into planning extraordinary events. With natural attention to detail and a thorough understanding of each couple’s distinct style, Pamela is an unparalleled guiding force in the planning process. Pamela takes time getting to know each couple, and – from invitation sourcing to linen sampling to cocktail crafting- she weaves their vision cohesively and flawlessly throughout their event.
    </p>
    <p class="long-primer editable">
    If you think we're the perfect match for you, visit our contact page and fill out the inquiry form. We can't wait to meet you!
   </p>
  </div>
</div>
